<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <h1>My Layout Header</h1>
    <div> 
        @RenderBody()
    </div>
    <h3>May Layout footer</h3>
</body>
</html>
