@model List<Association.DB.Cours>
@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>
<form action="" method="post">
    <ul>
        @foreach (var item in Model)
        {
            <li><input type="checkbox" name="courses[]" value="@item.Id"> @item.Name | @item.CourseStudents.Count</li>
        }
    </ul>
    <input type="submit" value="register" />
</form>


